@import "_variables";
@import "_titulos";
@import "_mixins";

header a{ 
    background-color: orange;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.navegador {
    font-size: 25px;
    padding: 5px;
    font-style: black;
}

body{
    background-color: black;
    text-align: center;
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 1.5em;
}

.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.dropdown-menu {
    background-color: orange;
    text-transform: uppercase;
    color: black;
} 

.dropdown-toggle {
    background-color: orange;
    color: black;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:320px) and (max-width:479px){
    .img{
        height: 175px;
    }
}

@media only screen and (min-width:480) and (max-width:767px){
    .img{
        height:175px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.galeria {
    min-height: 800px;
    width: 100%;
    background-color: orange;
    display: grid;
    padding: 20px;
    gap: 10px;
  }
  
  .img {
    background-color: orange;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0 0 5px #333;
    transition: all 0.7s;
  }
  
  .img:hover {
    transform: scale(1.15);
    transition: all 0.5s;
  }
  
  .img1 {
    background-color: red;
    background-image: url(./photos/img1.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img2 {
    background-color: blue;
    background-image: url(./photos/img2.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img3 {
    background-color: brown;
    background-image: url(./photos/img3.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img4 {
    background-color: green;
    background-image: url(./photos/img4.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img5 {
    background-color: violet;
    background-image: url(./photos/img5.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img6 {
    background-color: gray;
    background-image: url(./photos/img6.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img7 {
    background-color: yellow;
    background-image: url(./photos/img7.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img8 {
    background-color: lightblue;
    background-image: url(./photos/img8.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .img9 {
    background-color: white;
    background-image: url(./photos/img9.jpeg);
    background-position: center;
    background-size: cover;
  }
  
@media only screen and (min-width:768px){
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .img4{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img6{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img8{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .img9{
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255);
}
.contact-wrapper > *{
    padding: 2em;
    border-radius: 10px;
}
.contact-form {
    background:black;
    border-radius: 10px;
}
.contact-form {
    margin: 0;
}
.contact-form form {
    display: grid;
    grid-template-columns: 5fr 5fr;
}
.contact-form form .block{
    grid-column: 1 / 3;
}
.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}
.contact-form form button {
    background: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover
.contacto-form form input:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1 ease-out;
    outline: 0;
}

.contact-info {
    background: white;
}
.contact-info h4,
.contact-info ul,
.contact-info p{ 
    text-align: center;
    color:black;
    margin: 0 0 1rem 0;
}

.contact-form ul{
    list-style: none;
    padding: 0;
}

.contact-form ul li{
    padding: .3em;
}

@media only screen and (min-width:700px){
    body{
        padding: 0 4rem;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }

.titulo {
        -webkit-animation: roll-in-left 0.6s ease-out both;
        animation: roll-in-left 0.6s ease-out both;
    }
    
@keyframes titulo {
        0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        }
    }
}
.carousel-item {
    max-height: 400px;
    max-width: 400px;
}
.carousel-inner {
    justify-items: center;
}
.card {
    margin-left: 200px;

    .card-text {
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    background-color: orange;
    border-radius: 10px;
}
}
footer {
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center; 
    font-weight: bold;
    border-radius: 10px;

    p{
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
ul label{
    text-transform: capitalize;

    .input{
    text-transform: capitalize;
}
}
